# Dependency directories
node_modules/
jspm_packages/

# TypeScript build đầu ra
dist/
out/
build/

# Environment variables (Cực kỳ quan trọng để bảo mật)
.env
.env.production
# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# OS metadata
.DS_Store
Thumbs.db

# IDEs/Editors
.vscode/
.idea/
.vs/
*.swp
*.swo